{% extends "network/layout.html" %}

{% block body %}
    {% if message %}

        <div class="alert alert-success" role="alert">
            {{ message }}
            
        </div>
    {% endif %}
    <div class="ml-3">
        <h1>All Posts</h1>
        {% if user.is_authenticated %}
            <div id="post_{{ post.id }}" class="row justify-content-center">
                <div class="col-md-7">
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2>New Post</h2>
                                <form action="{% url 'newpost' %}" method="post" class="form" id="postForm">
                                    {% csrf_token %}
                                    <textarea name="content" cols="30" rows="5" class="form-control" id="postContent"></textarea>
                                    <input type="submit" value="Post" class="btn btn-primary mt-2" onclick="return validatePost( postContent)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container">
            {% for post in page_obj %}
                <div id="post_{{ post.id }}" class="row justify-content-center">
                    <div class="col-md-7">
                        <div class="col-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div>
                                        <a href="{% url 'profile' post.user.username %}"><h5 class="card-title d-inline">{{ post.user.username }}</h5></a>
                                        <h6 class="card-subtitle mb-2 text-muted d-inline ml-auto">{{ post.timestamp }}</h6>
                                    </div>
                                    <p class="card-text" id="paracontent_{{ post.id }}">{{ post.content }}</p>

                                    <div class="card-text d-inline" id="like_{{ post.id }}" >{{ post.likes }}</div>
                                    <a  class="card-link"   onclick="likePost({{post.id}}, '{{user.is_authenticated}}' )" id="likePosticon_{{ post.id }}">
                                        {% if user in post.likers.all %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                            </svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            </svg>
                                        {% endif %}
                                    </a>                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}  
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}